@font-face {
    font-family: "Ma Super Fonte";
    src: url('confortaa.ttf');
}

body {
    background-color: #F4976C;
    font-family: 'comfortaa';
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 100px;
    height: 100px;
    display:block;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tableau{
    background-color: rgb(204, 0, 0) ;
    border-spacing: 20px 10px;
}

.credit{
    position: absolute;
    bottom: 10px;
    right: 10px;
}